body{
    margin:0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#header {
	width:100%;
	height:40px;
}
#header .main-nav {
	float:right;
}

#header .main-nav a{
	color: black;
}

ul {
  list-style: none;
}
#header .main-nav li {
	display:inline-block;
	margin-right:40px;
}

#header .main-nav #sign_in {
  background: #4887ef; 
  margin-right: 25px;
  padding: 7px 15px;
  border-radius: 3px; 
  color:white;
}

#header .main-nav #sign_in:hover { 
  box-shadow: 1px 1px 5px #999;
  text-decoration: none;
  cursor: pointer;
}

img[title]{
    background-color: black;
    color: black;

}

#container{
  text-align: center;
  display:block;
  margin: 0 auto;
  clear: both;
  padding-top: 70px;
  padding-bottom: 20px;
}
.icon{
    width:20px;
    height:20px; 
    margin: 2px;
    padding-top: 7px;
    padding-right: 4px;
    padding-left: 4px;
}
#form{
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   text-align: center;
   width: 650px;
   height: 35px;
   border: 1px solid lightgray;
   margin: auto;
   border-radius: 20px;
}

#form > input{
    flex-grow: 1;
    border: none;
    outline: none;
}

#form:hover{
    box-shadow: 0 0 10px 0 lightgray;
}

.buttonForm{
    display: flex;
    flex-direction: row;
    margin: auto;
    width:300px;
    padding-top: 45px;
}

button{
    border: none;
    height: 36px;
    border-radius: 5px;
    padding: 0 20px;
    margin: 0 4px;
 }

button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0 gainsboro;
}

img{
    cursor: pointer;
}

#footer{
    background: #F2F2F2;
    width: 100%;
    height:40px;
    position: fixed;
    bottom:0;
    padding-bottom: 10px;
    

}
#footer .nav-bar {
	display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

#footer .nav-bar a{
	color:#999;
}

#footer .nav-bar li {
	display:inline-block;
    color: lightgray;
    padding: 5px;
}

a{
    text-decoration:none;
    
    
}
a:hover{
    text-decoration: underline;
}

